# Data Analysis with Apache Spark

## DataFrames 1

### Adrian Garcia and Pol Medina
#### Data Management | AI Degree - UAB

In the first cells we are following the tutorial. If you want to directly jump into the first exercise, please click [here.](#Questions-are-answered-here:)

In [1]:
import findspark

findspark.init("/home/alumno/Escritorio/spark/spark-3.2.2-bin-hadoop2.7")

In [2]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("intro").setMaster("local")
sc = SparkContext(conf=conf)

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, desc, asc

spark = SparkSession(sc)

Infer schema:

In [4]:
c = spark.read.option("inferSchema","true").option("header",
"true").csv("/home/alumno/Escritorio/spark/customers.csv")

In [5]:
c.printSchema()

root
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- customer: integer (nullable = true)
 |-- product: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: integer (nullable = true)

In [6]:
c.show(5)

+----------+--------+--------+-------+--------+-----+
|      date|    time|customer|product|quantity|price|
+----------+--------+--------+-------+--------+-----+
|05/10/2018| 2:20 PM|     100|      1|      10|  816|
|06/10/2018| 3:30 PM|     100|      1|      10|    1|
|07/10/2018| 5:20 PM|     100|      1|      10|   10|
|04/08/2018|11:38 PM|     100|      2|       8|   79|
|25/03/2018| 3:52 AM|     100|      3|       1|   91|
+----------+--------+--------+-------+--------+-----+
only showing top 5 rows

<div class="alert alert-block alert-warning">
            <b>Here we will import all the functions we will be using!</b>
</div>

In [7]:
from pyspark.sql.functions import expr, desc, asc

In [8]:
c.select("customer", "product").show(10)

+--------+-------+
|customer|product|
+--------+-------+
|     100|      1|
|     100|      1|
|     100|      1|
|     100|      2|
|     100|      3|
|     100|      4|
|     100|      5|
|     100|      6|
|     100|      7|
|     100|      8|
+--------+-------+
only showing top 10 rows

In [9]:
c.select(expr("customer"),
         expr("product"),
         expr("quantity as q")).show(5)

+--------+-------+---+
|customer|product|  q|
+--------+-------+---+
|     100|      1| 10|
|     100|      1| 10|
|     100|      1| 10|
|     100|      2|  8|
|     100|      3|  1|
+--------+-------+---+
only showing top 5 rows

In [10]:
c.select("product", "quantity").show(5)

+-------+--------+
|product|quantity|
+-------+--------+
|      1|      10|
|      1|      10|
|      1|      10|
|      2|       8|
|      3|       1|
+-------+--------+
only showing top 5 rows

In [11]:
c.select(expr("*")).show(5)

+----------+--------+--------+-------+--------+-----+
|      date|    time|customer|product|quantity|price|
+----------+--------+--------+-------+--------+-----+
|05/10/2018| 2:20 PM|     100|      1|      10|  816|
|06/10/2018| 3:30 PM|     100|      1|      10|    1|
|07/10/2018| 5:20 PM|     100|      1|      10|   10|
|04/08/2018|11:38 PM|     100|      2|       8|   79|
|25/03/2018| 3:52 AM|     100|      3|       1|   91|
+----------+--------+--------+-------+--------+-----+
only showing top 5 rows

In [12]:
c.select(expr("quantity > 1")).show(5)

+--------------+
|(quantity > 1)|
+--------------+
|          true|
|          true|
|          true|
|          true|
|         false|
+--------------+
only showing top 5 rows

In [14]:
c.select(expr("product"), expr("quantity > 1")).show(5)

+-------+--------------+
|product|(quantity > 1)|
+-------+--------------+
|      1|          true|
|      1|          true|
|      1|          true|
|      2|          true|
|      3|         false|
+-------+--------------+
only showing top 5 rows

In [15]:
c.select(expr("*"), expr("quantity > 1")).show(5)

+----------+--------+--------+-------+--------+-----+--------------+
|      date|    time|customer|product|quantity|price|(quantity > 1)|
+----------+--------+--------+-------+--------+-----+--------------+
|05/10/2018| 2:20 PM|     100|      1|      10|  816|          true|
|06/10/2018| 3:30 PM|     100|      1|      10|    1|          true|
|07/10/2018| 5:20 PM|     100|      1|      10|   10|          true|
|04/08/2018|11:38 PM|     100|      2|       8|   79|          true|
|25/03/2018| 3:52 AM|     100|      3|       1|   91|         false|
+----------+--------+--------+-------+--------+-----+--------------+
only showing top 5 rows

In [16]:
c.selectExpr("*", "customer = 100", "price > 10").show(5)

+----------+--------+--------+-------+--------+-----+----------------+------------+
|      date|    time|customer|product|quantity|price|(customer = 100)|(price > 10)|
+----------+--------+--------+-------+--------+-----+----------------+------------+
|05/10/2018| 2:20 PM|     100|      1|      10|  816|            true|        true|
|06/10/2018| 3:30 PM|     100|      1|      10|    1|            true|       false|
|07/10/2018| 5:20 PM|     100|      1|      10|   10|            true|       false|
|04/08/2018|11:38 PM|     100|      2|       8|   79|            true|        true|
|25/03/2018| 3:52 AM|     100|      3|       1|   91|            true|        true|
+----------+--------+--------+-------+--------+-----+----------------+------------+
only showing top 5 rows

In [17]:
c.selectExpr("*", "price > quantity*10").show(5)

+----------+--------+--------+-------+--------+-----+-------------------------+
|      date|    time|customer|product|quantity|price|(price > (quantity * 10))|
+----------+--------+--------+-------+--------+-----+-------------------------+
|05/10/2018| 2:20 PM|     100|      1|      10|  816|                     true|
|06/10/2018| 3:30 PM|     100|      1|      10|    1|                    false|
|07/10/2018| 5:20 PM|     100|      1|      10|   10|                    false|
|04/08/2018|11:38 PM|     100|      2|       8|   79|                    false|
|25/03/2018| 3:52 AM|     100|      3|       1|   91|                     true|
+----------+--------+--------+-------+--------+-----+-------------------------+
only showing top 5 rows

In [21]:
c.selectExpr("sum(price)", "avg(price)").show()

+----------+----------------+
|sum(price)|      avg(price)|
+----------+----------------+
|     51052|50.9500998003992|
+----------+----------------+

In [24]:
c.selectExpr("avg(price)", "count(customer)").show()

+----------------+---------------+
|      avg(price)|count(customer)|
+----------------+---------------+
|50.9500998003992|           1002|
+----------------+---------------+

In [27]:
c.where(expr("quantity < 9")).where(expr("customer != 100")).show(5)

+----------+--------+--------+-------+--------+-----+
|      date|    time|customer|product|quantity|price|
+----------+--------+--------+-------+--------+-----+
|13/06/2018| 3:02 PM|     101|      4|       8|   63|
|06/07/2018|10:35 AM|     101|      5|       8|   42|
|13/04/2018| 2:24 AM|     101|      6|       6|   73|
|21/12/2017| 3:09 AM|     101|      7|       6|    8|
|08/08/2018| 9:16 AM|     101|      9|       0|    4|
+----------+--------+--------+-------+--------+-----+
only showing top 5 rows

In [31]:
c.selectExpr("customer").where(expr("product = 8")).where(expr("quantity >= 7")).show(5)

+--------+
|customer|
+--------+
|     100|
|     101|
|     101|
|     102|
|     102|
+--------+
only showing top 5 rows

In [32]:
c.orderBy("price").show(5)

+----------+--------+--------+-------+--------+-----+
|      date|    time|customer|product|quantity|price|
+----------+--------+--------+-------+--------+-----+
|23/06/2018|12:49 AM|     110|      8|       8|    0|
|22/08/2018| 3:38 PM|     124|      5|       4|    0|
|07/07/2018| 6:23 PM|     112|      6|       4|    0|
|16/03/2018|12:21 PM|     107|      3|       7|    0|
|03/12/2017| 2:38 PM|     113|      9|       3|    0|
+----------+--------+--------+-------+--------+-----+
only showing top 5 rows

In [34]:
c.orderBy("price", "customer").show(5)

+----------+--------+--------+-------+--------+-----+
|      date|    time|customer|product|quantity|price|
+----------+--------+--------+-------+--------+-----+
|24/04/2018| 2:01 PM|     106|      4|       0|    0|
|16/03/2018|12:21 PM|     107|      3|       7|    0|
|23/06/2018|12:49 AM|     110|      8|       8|    0|
|07/07/2018| 6:23 PM|     112|      6|       4|    0|
|03/12/2017| 2:38 PM|     113|      9|       3|    0|
+----------+--------+--------+-------+--------+-----+
only showing top 5 rows

In [35]:
c.orderBy(desc("customer"), asc("price")).show(5)

+----------+--------+--------+-------+--------+-----+
|      date|    time|customer|product|quantity|price|
+----------+--------+--------+-------+--------+-----+
|16/08/2018|12:03 PM|     130|      1|       1|    8|
|19/09/2018| 6:31 PM|     130|      5|       7|   14|
|25/09/2018| 9:02 PM|     130|      4|       0|   29|
|23/05/2018| 2:04 PM|     130|      8|       9|   55|
|29/03/2018| 6:13 AM|     130|      3|       6|   69|
+----------+--------+--------+-------+--------+-----+
only showing top 5 rows

In [36]:
c.where(expr("date > '16/09/2018'")).orderBy(desc("customer"), desc("price")).show(5)

+----------+--------+--------+-------+--------+-----+
|      date|    time|customer|product|quantity|price|
+----------+--------+--------+-------+--------+-----+
|22/05/2018| 2:14 PM|     130|      9|       6|   86|
|23/04/2018|12:10 AM|     130|      6|       1|   81|
|18/10/2018| 1:24 AM|     130|     10|       8|   75|
|29/03/2018| 6:13 AM|     130|      3|       6|   69|
|23/05/2018| 2:04 PM|     130|      8|       9|   55|
+----------+--------+--------+-------+--------+-----+
only showing top 5 rows

In [41]:
c.groupBy("customer").count().show(3)

+--------+-----+
|customer|count|
+--------+-----+
|     108|   33|
|     101|   33|
|     115|   33|
+--------+-----+
only showing top 3 rows

In [42]:
c.groupBy("customer").agg(expr("sum(quantity)")).show(5)

+--------+-------------+
|customer|sum(quantity)|
+--------+-------------+
|     108|          129|
|     101|          196|
|     115|          143|
|     126|          137|
|     103|          137|
+--------+-------------+
only showing top 5 rows

In [44]:
c.groupBy("customer").avg().show(3)

+--------+-------------+-----------------+------------------+------------------+
|customer|avg(customer)|     avg(product)|     avg(quantity)|        avg(price)|
+--------+-------------+-----------------+------------------+------------------+
|     108|        108.0|5.545454545454546| 3.909090909090909| 49.93939393939394|
|     101|        101.0|5.454545454545454|5.9393939393939394| 49.27272727272727|
|     115|        115.0|5.636363636363637| 4.333333333333333|49.666666666666664|
+--------+-------------+-----------------+------------------+------------------+
only showing top 3 rows

In [45]:
c.groupBy("customer").agg(expr("avg(quantity)"), expr("stddev_pop(quantity)")).show(3)

+--------+------------------+--------------------+
|customer|     avg(quantity)|stddev_pop(quantity)|
+--------+------------------+--------------------+
|     108| 3.909090909090909|    2.83232035043586|
|     101|5.9393939393939394|  2.8170411507132362|
|     115| 4.333333333333333|  3.1107503398324456|
+--------+------------------+--------------------+
only showing top 3 rows

In [46]:
c.groupBy("customer").agg(expr("avg(quantity)"), expr("max(price)")).show(3)

+--------+------------------+----------+
|customer|     avg(quantity)|max(price)|
+--------+------------------+----------+
|     108| 3.909090909090909|        99|
|     101|5.9393939393939394|        93|
|     115| 4.333333333333333|        98|
+--------+------------------+----------+
only showing top 3 rows

In [182]:
products = spark.read.option("inferSchema","true").option("header",
"true").csv("/home/alumno/Escritorio/spark/products.csv")

In [189]:
products.show()

+----+-----+------+
|  ID| NAME| COLOR|
+----+-----+------+
|1234|chair|  blue|
|   1|table| black|
|   2|  jar| white|
|   3|  pan|   red|
|   4| fork|silver|
|   5|spoon|silver|
|   6|chair| black|
+----+-----+------+

In [183]:
stock = spark.read.option("inferSchema","true").option("header",
"true").csv("/home/alumno/Escritorio/spark/stock.csv")

In [190]:
stock.show()

+----+-----+--------+
|  ID|PRICE|STOCKNUM|
+----+-----+--------+
|1234|  125|    1000|
|   1|  816|     100|
|   2|   46|       1|
|   3|   54|      22|
+----+-----+--------+

In [194]:
joined_inner = products.join(stock, products["id"] == stock["id"], "inner")
joined_inner.show()

+----+-----+-----+----+-----+--------+
|  ID| NAME|COLOR|  ID|PRICE|STOCKNUM|
+----+-----+-----+----+-----+--------+
|1234|chair| blue|1234|  125|    1000|
|   1|table|black|   1|  816|     100|
|   2|  jar|white|   2|   46|       1|
|   3|  pan|  red|   3|   54|      22|
+----+-----+-----+----+-----+--------+

In [195]:
joined_outer = products.join(stock, products["id"] == stock["id"], "outer")
joined_outer.show()

+----+-----+------+----+-----+--------+
|  ID| NAME| COLOR|  ID|PRICE|STOCKNUM|
+----+-----+------+----+-----+--------+
|   1|table| black|   1|  816|     100|
|   2|  jar| white|   2|   46|       1|
|   3|  pan|   red|   3|   54|      22|
|   4| fork|silver|null| null|    null|
|   5|spoon|silver|null| null|    null|
|   6|chair| black|null| null|    null|
|1234|chair|  blue|1234|  125|    1000|
+----+-----+------+----+-----+--------+

In [196]:
joined_left = products.join(stock, products["id"] == stock["id"], "left")
joined_left.show()

+----+-----+------+----+-----+--------+
|  ID| NAME| COLOR|  ID|PRICE|STOCKNUM|
+----+-----+------+----+-----+--------+
|1234|chair|  blue|1234|  125|    1000|
|   1|table| black|   1|  816|     100|
|   2|  jar| white|   2|   46|       1|
|   3|  pan|   red|   3|   54|      22|
|   4| fork|silver|null| null|    null|
|   5|spoon|silver|null| null|    null|
|   6|chair| black|null| null|    null|
+----+-----+------+----+-----+--------+

In [197]:
joined_right = products.join(stock, products["id"] == stock["id"], "right")
joined_right.show()

+----+-----+-----+----+-----+--------+
|  ID| NAME|COLOR|  ID|PRICE|STOCKNUM|
+----+-----+-----+----+-----+--------+
|1234|chair| blue|1234|  125|    1000|
|   1|table|black|   1|  816|     100|
|   2|  jar|white|   2|   46|       1|
|   3|  pan|  red|   3|   54|      22|
+----+-----+-----+----+-----+--------+

In [200]:
joined_semi = products.join(stock)
joined_semi.show()

+----+-----+------+----+-----+--------+
|  ID| NAME| COLOR|  ID|PRICE|STOCKNUM|
+----+-----+------+----+-----+--------+
|1234|chair|  blue|1234|  125|    1000|
|1234|chair|  blue|   1|  816|     100|
|1234|chair|  blue|   2|   46|       1|
|1234|chair|  blue|   3|   54|      22|
|   1|table| black|1234|  125|    1000|
|   1|table| black|   1|  816|     100|
|   1|table| black|   2|   46|       1|
|   1|table| black|   3|   54|      22|
|   2|  jar| white|1234|  125|    1000|
|   2|  jar| white|   1|  816|     100|
|   2|  jar| white|   2|   46|       1|
|   2|  jar| white|   3|   54|      22|
|   3|  pan|   red|1234|  125|    1000|
|   3|  pan|   red|   1|  816|     100|
|   3|  pan|   red|   2|   46|       1|
|   3|  pan|   red|   3|   54|      22|
|   4| fork|silver|1234|  125|    1000|
|   4| fork|silver|   1|  816|     100|
|   4| fork|silver|   2|   46|       1|
|   4| fork|silver|   3|   54|      22|
+----+-----+------+----+-----+--------+
only showing top 20 rows

# Questions are answered here:

### 1 - How many elements can we find (in our DataFrame)?

> We will use the `.count()` function with all elements selected with `.select('*')`. The code is self explanatory.

In [11]:
num_elements = c.select("*").count()
print(f'There are {num_elements} elements in the DataFrame.')

There are 1002 elements in the DataFrame.

### 2 - How many unique customers can we find in the DataFrame?

> To find the number of unique customers we have to look through all the customers that appear in the Dataframe. This is done with `.select('customer')`. All customers are shown, but they are repeated as many times as they appear, which means, many times as transactions they have made.

> To show only one instance of each customer we have to use the `.distinct()` function. Now, since we have all the customers only once we can use again the `.count()` function.

In [12]:
n_uniqueCus = c.select("customer").distinct().count()
print(f'In total, there are {n_uniqueCus} unique customers in the DataFrame.')

In total, there are 31 unique customers in the DataFrame.

### 3 - How many products were purchased by each customer?

> In our dataframe, the "quantity" values show how many products have been purchased by X customer in one transaction. Knowing this, we can group all transactions from all independent customers and count the sum of the total bought products.

In Spark, this is done in the following way: 

> We will group each customer's information so we have all data together. A new table will be created with the customers' ID. This is done with `.groupBy("customer")`. Now, to that table we will aggregate the total quantity of products each customer has purchased independently. The aggregation is done with .agg() and the sum of all products is done with `.expr("sum(quantity)")`. Added together, the table below is created:

In [13]:
customers_quantity = c.groupBy("customer").agg(expr("sum(quantity)"))
print('The following table shows all the products each customer has purchased over time:')
customers_quantity.show(3)

The following table shows all the products each customer has purchased over time:
+--------+-------------+
|customer|sum(quantity)|
+--------+-------------+
|     108|          129|
|     101|          196|
|     115|          143|
+--------+-------------+
only showing top 3 rows

### 4 - Sort customers by quantity.

> If we want to sort customers by quantity, we have to retrieve the total of the sum of the purchased products for each customer as we did before. Luckily, we did that on the exercise before! Now we just have to order it in descending order (from bigger to lower) with respect to the `"sum(quantity)"` values. A function exists for that in Spark. It is `.orderBy()`. If we add the `desc()` function, we impose the descending order. Inside that function we will input the name of the column we want to order.

_I will change the name of the column `sum(quantity)` to `total-purchases` for better understanding._

In [16]:
customers_quantity = customers_quantity.withColumnRenamed('sum(quantity)', 'total_purchases')
customers_quantity.orderBy(desc('total_purchases')).show(3)

+--------+---------------+
|customer|total_purchases|
+--------+---------------+
|     101|            196|
|     122|            179|
|     117|            176|
+--------+---------------+
only showing top 3 rows

### 5 - How many times customer ID number 100 has purchased more than 5 items?

> For this question we will have to look for a specific value. This is done with the `.where()` query. Inside we will type the condition we want the output to satisfy. In this case, ID must be 100. This is done with the function `expr("customer = 100)`.

In [20]:
customer100 = c.where(expr("customer = 100"))
print('In this table we have all information about customer 100:')
customer100.show(3)

In this table we have all information about customer 100:
+----------+-------+--------+-------+--------+-----+
|      date|   time|customer|product|quantity|price|
+----------+-------+--------+-------+--------+-----+
|05/10/2018|2:20 PM|     100|      1|      10|  816|
|06/10/2018|3:30 PM|     100|      1|      10|    1|
|07/10/2018|5:20 PM|     100|      1|      10|   10|
+----------+-------+--------+-------+--------+-----+
only showing top 3 rows

> From this table we can extract the rest of the information we need. In this case, we will add another `.where()` query, this time asking for transactions of a quantity bigger than 5. We will ad that expression:

In [23]:
moreThan5 = customer100.where(expr("quantity > 5"))
print("This are customer 100 transactions' with quantity higher than 5:\n")
moreThan5.show(3)

This are customer 100 transactions' with quantity higher than 5:

+----------+-------+--------+-------+--------+-----+
|      date|   time|customer|product|quantity|price|
+----------+-------+--------+-------+--------+-----+
|05/10/2018|2:20 PM|     100|      1|      10|  816|
|06/10/2018|3:30 PM|     100|      1|      10|    1|
|07/10/2018|5:20 PM|     100|      1|      10|   10|
+----------+-------+--------+-------+--------+-----+
only showing top 3 rows

> To know how many times we just have to count the number of transactions of that last table:

In [24]:
total = moreThan5.count()
print(f'Customer 100 has made {total} transactions in which it has purchased more than 5 items.')

Customer 100 has made 16 transactions in which it has purchased more than 5 items.

**_Note that this can be written in a single line. I just splitted it looking for explainability:_**

```Python
c.where(expr("customer = 100")).where(expr("quantity > 5")).count()
```

### 6 - Which were the products bought by customer with the largest number of transactions?

#### _We are interested in the customer that has done more purchases. You do not need to consider quantities of products, just how many times a customer has done a transaction._

> First, we need to count all the transactions that each of the customer have done. This way we will be able to retrieve the highest number of purchases.

In [34]:
all_transactions = c.groupBy("customer").count()
max_customer = all_transactions.agg(expr("max(count)"))
print(f'Now we have the maximum number of transactions in the whole DataFrame:\n')
max_customer.show()

Now we have the maximum number of transactions in the whole DataFrame:

+----------+
|max(count)|
+----------+
|        35|
+----------+

> We will store that value in a Python variable so that we can use it in the future for the complete implementation of the problem:

In [35]:
max_transactions = max_customer.collect()[0][0]
print(f'The maximum number of transactions done by a customer is {max_transactions}.')

The maximum number of transactions done by a customer is 35.

> Now we can finally look in our table called `all_transactions` (_remember that the table contains `customer, num-transactions`_) for the user that has done the highest number of transactions. This will be done with the `.where()` function and by satisfiying the query `count = 35`.

In [40]:
max_customer = all_transactions.where(expr(f"count = {max_transactions}"))
customer_id = max_customer.collect()[0][0]
print(f'The customer that has made the highest amount of transactions ({max_transactions}) is {customer_id}.')

The customer that has made the highest amount of transactions (35) is 100.

> Finally, knowing which is the customer with highest number of purchases, we can look for which were all the products it has done. To do so, we retrieve the `product` column, but only the instances that belong to customer 100. This will be done with a `.where()`. Afterwards we will use the `.distinct()` function to not repeat any product. Now we have the final set which contains the IDs of all the products the user with the highest number of transactions has bought.

In [43]:
print(f'Customer {customer_id}, which has made {max_transactions} transactions has bought the following products:\n')
c.select(expr("product")).where(f"customer = {customer_id}").distinct().show(3)

Customer 100, which has made 35 transactions has bought the following products:

+-------+
|product|
+-------+
|      1|
|      6|
|      3|
+-------+
only showing top 3 rows